<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">

  {% block extra_head %}{% endblock %}
</head>
<body>

<div class="nav">
    {% if not user.is_anonymous %}
        <h3 class="float-left">Welcome, {{ user }}</h3>
        <div class="float-right"><a href="{% url 'account_logout' %}"><span>Log out</span></a></div>
    {% else %}
        <div class="float-right"><a href="{% url 'account_login' %}"><span>Log in</span></a></div>
    {% endif %}
</div>

<div>
  {% block content %}{% endblock %}
</div>

{% block footer %}
    <br>
    <div>
      <a target="_blank" href="https://github.com/jessamynsmith/django-celery-example">Source code</a> here.
        <br>
        Like my work? Tip me! <a target="_blank" href="https://www.paypal.me/jessamynsmith">https://www.paypal.me/jessamynsmith</a>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}

</body>
</html>
